:root {
    --main-color: #f7ce3e;
    --second-color: #ebf5e9;
    --third-color: #3d3935;
    --fourth-color: #1a2930;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html, body {
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: var(--third-color);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#scrollToTop {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    border-radius: 50%;
    background: var(--fourth-color);
    cursor: pointer;
    transition: ease 250ms;
}

#scrollToTop:hover {
    background: var(--main-color);
}

#scrollToTop svg {
    transform: rotate(180deg);
}

header {
    background: var(--main-color);
    width: 100%;
    position: fixed;
    z-index: 10;

}

header::after {
    content: "";
    clear: both;
}

/* Sections */
/* All sections */
.section {
    height: 100vh;
    width: 100%;
}

/* All section heading h4 */
.heading h4 {
    margin: 0;
}

/* Hero Section */
#hero {
    background: var(--main-color);
}

.hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-image {
    margin-top: 10px;
    max-width: 500px;
    min-width: 300px;
    width: 500px;
    
}

.hero-image img {
    width: 100%;
    -webkit-animation: updown 1.25s infinite  alternate;
    animation: updown 1.25s infinite  alternate;
}

/* Safari */
@-webkit-keyframes updown {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}

/* Standard */
@keyframes updown {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); }
}



.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-text h1 {
    text-transform: uppercase;
    color: var(--second-color);
    letter-spacing: 10px;
    font-weight: 800;
    font-size: 3em;
    text-align: center;
}

.titles {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.titles h3 {
    padding: 0 20px;
    font-size: 1.5em;
    font-weight: 600;
    color: var(--third-color);
}

.titles h3:not(:last-child) {
    border-right: 2px solid var(--third-color);
}

.hero-text a {
    margin-top: 25px;
}

.hero-text a:hover {
    -webkit-animation: updown 1s infinite  alternate;
    animation: updown 1s infinite  alternate;
}

/* Navigation */
.nav-container {
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img:hover {
    opacity: 0.75;
    cursor: pointer;
}


#desktopNav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#desktopNav li {
    display: inline-block;
    margin-left: 25px;
    position: relative;
}

#desktopNav a {
    text-decoration: none;
    color: var(--third-color);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

#desktopNav a:hover {
    color: var(--second-color);
    font-weight: 700;
}

#desktopNav a::before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: var(--second-color);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

#desktopNav a:hover::before {
    width: 100%;
    background: var(--second-color);
}

/* About Section */
#about {
    display: flex;
    align-items: center;
}

.container {
    padding: 0;
}

.about-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 75px 0;
}

.graphic-holder {
    width: 50%;
    padding-right: 25px;
}

.graphic-holder img {
    width: 100%;
}

.about-content {
    flex-shrink: 1;
    width: 50%;
    padding-left: 25px;
}

.about-text h1 {
    font-size: 4rem;
    color: #ad5524;
}

.about-text p {
    font-size: 0.9rem;
}

/* Skill Area */
.skill-area {
    margin-top: 40px;
}

.skill-area h4 {
    margin-bottom: 25px;
    text-transform: uppercase;
    padding: 0 0 0 10px;
    border-left: 3px solid var(--main-color);
}

.skillbar {
    height: 10px;
    min-width: 100%;
    margin: 0 auto 10px;
    line-height: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--third-color);
    padding: 0 0 0 10px;
    position: relative;
}

.skillbar::before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 10px;
    top: 0;
    z-index: -2;
    background: var(--third-color);
}


.skillbar::after {
    content: '';
    background: var(--main-color);
    height: 10px;
    transition: 500ms;
    display: block;
    width: 100%;
    animation: animate 1 4s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.skillbar1::after {
    max-width: 80%;
}

.skillbar2::after {
    max-width: 70%;
}

.skillbar3::after {
    max-width: 40%;
}

.skillbar4::after {
    max-width: 80%;
}

@-webkit-keyframes animate {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes animate {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* About Buttons */
.about-buttons {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.about-buttons a {
    text-decoration: none;
    border-radius: 50px;
    padding: 5px 20px;
    border: 2px solid var(--third-color);
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--third-color);
    transition: all ease-in-out 500ms;
}

.about-buttons a:hover {
    cursor: pointer;
    background: var(--main-color);
}

/* Services Section */
.section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.heading-line {
    width: 75px;
    height: 5px;
    background: var(--main-color);
    border-radius: 50px;
    margin-bottom: 25px;
}

.heading h4 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--third-color);
}

.services {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}

.service-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-icon img {
    transition: ease-in-out 250ms;
}

.service-icon img:hover {
    transform: scale(1.1, 1.1);
}

.service h5 {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    line-height: 30px;
}

.service-bg-strip {
    display: block;
    height: 300px;
    background: var(--main-color);
    margin-top: -230px;
    position: relative;
    z-index: -1;
    -ms-transform: skewY(-5deg);
    /* IE 9 */
    -webkit-transform: skewY(-5deg);
    /* Safari */
    transform: skewY(-5deg);
}

/* Portfolio Section */
.portfolio-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-top: 100px;
}

.project {
    width: 100%;
    height: 300px;
    position: relative;
}

.project:hover .project-info {
    opacity: 1;
}

.project-img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.project-info {
    background: var(--main-color);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    opacity: 0;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    z-index: 0;
}

.project-info h4,
.project-info h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--second-color);
}

.project-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.project-btn a {
    text-decoration: none;
    color: var(--second-color);
    padding: 10px 15px;
    ;
    text-align: center;
    background: var(--third-color);
    border-radius: 5px;
    transition: all ease-in-out 250ms;
}

.project-btn a:hover {
    background: var(--main-color);
    border: 1.5px solid var(--third-color);
    color: var(--third-color);
    font-weight: 500;
}

/* Contact Section */
.contact-content {
    margin: 100px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}

.contact-content-container {
    width: 100%;
}

.contact-form {
    width: 100%;
}

.form-input {
    border: none;
    border-radius: 0;
    outline: none;
    border-bottom: 1.5px solid var(--fourth-color);
    margin-bottom: 20px;
    color: var(--third-color);
}

.fomr-input:focus {
    outline: none;
    border-bottom: 1.5px solid var(--main-color);
}

.submit-btn {
    margin-top: 25px;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    /* border: 2px solid var(--third-color); */
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 600;
    background: var(--third-color);
    color: var(--main-color);
    transition: all ease-in-out 500ms;
}

.submit-btn:hover {
    cursor: pointer;
    background: var(--main-color);
    color: var(--third-color);
}

.contact-text h2 {
    font-weight: 800;
    color: #ad5524;
    font-size: 3rem;
    letter-spacing: 5px;
}

.contact-text strong {
    text-transform: uppercase;
}

.contact-info {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact:first-child {
    margin-bottom: 25px;
}

.contact img {
    margin-right: 25px;
}

.contact span {
    font-weight: 500;
}

/* Footer */
footer {
    background: var(--third-color);
    padding: 50px 0;
}

footer .logo-path {
    fill: var(--main-color);
}

.social-links i {
    margin: 0 25px;
}

footer i,
footer p {
    color: var(--main-color);
    margin: 0;
}

footer i {
    font-size: 20px;
    transition: ease-in-out 250ms;
}

footer i:hover {
    opacity: .4;
}

footer p {
    font-size: 14px;
}

footer .container {
    opacity: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .container div:not(:last-child) {
    margin-bottom: 25px;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.copyright p {
    padding: 2px 20px;
}

.copyright p:last-child {
    border-left: 2px solid var(--main-color);
}

@media screen and (max-width: 1000px) {

    /* Hero Section */
    #hero {
        padding: 50px 0;
        height: 100vh;
    }

    .section:not(:first-child) {
        height: auto;
    }

    /* About Section */
    .about-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .graphic-holder {
        width: 100%;
        padding-right: 0px;
        display: flex;
        justify-content: center;
    }

    .about-content {
        width: 80%;
        padding-left: 0px;
        margin-top: 50px;
    }

    .graphic-holder img {
        width: 60%;
        height: 60%;
    }

    .about-text h1 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 25px;
    }

    .skill-area h4 {
        margin-bottom: 25px;
        text-transform: uppercase;
        text-align: center;
        padding-bottom: 20px;
        border-left: 0;
    }

    .skill-area h6 {
        text-align: center;
    }

    .skillbar:not(:last-child) {
        margin-bottom: 20px;
    }

    .about-buttons {
        display: flex;
        justify-content: center;
    }

    /* Services Section */
    .service img {
        width: 90%;
    }

    .section-heading {
        margin-top: 75px;
    }

    /* Portfolio Section */
    .portfolio-grid {
        grid-template-columns: repeat(2, auto);
        grid-column-gap: 50px;
        grid-row-gap: 50px;
    }

    /* Contact Section */
    .contact-content {
        grid-column-gap: 75px;

    }

    .contact-info {
        width: 100%;
    }

    .contact {
        width: 100%;
    }

    .contact img {
        margin-right: 10px;
    }
}

@media screen and (min-width: 700px) {

    /* Navigation */
    #smallNav,
    #nav-toggle,
    #nav-toggle-label {
        display: none;
    }
}

@media screen and (max-width: 760px) {

    /* Navigation */
    #desktopNav {
        display: none;
    }

    #smallNav {
        width: 30%;
        background: var(--third-color);
        position: absolute;
        text-align: left;
        top: 100%;
        right: 0;
        display: none;
        padding: 25px;
        transition: opacity ease-in-out 250ms;
    }

    #smallNav ul {
        margin: 0;
        list-style: none;
    }

    #smallNav li {
        margin-bottom: 25px;
        display: block;
        position: relative;
        text-align: center;
    }

    #smallNav li:last-of-type {
        margin-bottom: 0;
    }

    #smallNav a {
        text-decoration: none;
        color: var(--main-color);
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
    }

    #smallNav a:hover {
        color: var(--second-color);
    }

    #smallNav a::before {
        display: none;
    }

    #smallNav a:hover::before {
        display: none;
    }

    .nav-toggle {
        display: none;
    }

    .nav-toggle:checked~#smallNav {
        display: block;
    }

    .nav-toggle-label {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        color: var(--third-color);
    }

    .nav-toggle-label span {
        transition: all ease-in-out 250ms;
    }

    .nav-toggle-label span:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        float: right;
        background: var(--third-color);
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;
    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: '';
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 8px;
    }

    .nav-toggle-label span::after {
        top: 8px;
    }

    /* All sections */
    .section:not(:first-child) {
        padding: 75px 0;
    }

    /* Hero Content */
    #hero {
        padding: 0;
    }

    .hero-image {
        width: 400px;
    }

    .section-heading {
        margin-top: 50px;
        padding: 0;
    }

    /* About Section */
    .about-container {
        padding: 0;
    }

    .about-text h1 {
        font-size: 4rem;
    }

    .section-heading {
        margin-top: 0;
        padding: 0;
    }

    #services .section-heading .heading-line {
        background: var(--second-color);
    }

    #services {
        background: var(--main-color);
    }

    /* Services Section */
    .services {
        flex-direction: column;
        margin-top: 75px;
    }

    .service-bg-strip {
        display: none;
    }

    .service:not(:first-child) {
        margin-top: 50px;
    }

    /* Portfolio Section */
    .portfolio-grid {
        grid-template-columns: repeat(1, auto);
        grid-row-gap: 50px;
        margin-top: 75px;
    }

    .project {
        height: auto;
    }

    /* Contact Section */
    .contact-content {
        margin: 0;
        margin-top: 75px;
        grid-column-gap: 40px;
        grid-template-columns: 1fr;
    }

    .contact-content-container:first-child {
        margin-bottom: 50px;
    }

    /* Footer */
    footer {
        margin-top: 0;
    }

    footer .container p {
        text-align: center;
    }

     /* Footer */
     .copyright {
        flex-direction: column;
    }
    
    .copyright p {
        padding: 0;
    }
    
    .copyright p:last-child {
        border: none;
    }
}

@media screen and (max-width: 500px) {

    /* Navigation */
    .nav-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    #smallNav {
        width: 100%;
        padding: 25px;
        margin: 0;
    }

    #smallNav ul {
        margin: 0;
        padding: 0;
    }

    #smallNav li:last-of-type {
        margin-bottom: 0;
    }

    #smallNav li {
        text-align: center;
        margin-bottom: 20px;
    }

    #smallNav a::before {
        display: none;
    }

    #smallNav a:hover::before {
        display: none;
    }

    /* Hero Content */
    .hero-content {
        height: 100%;
    }

    .hero-image {
        width: 375px;
        padding: 0 25px;
    }

    .hero-text h1 {
        margin-bottom: 0;
    }

    .titles {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .titles h3 {
        margin-bottom: 0;
        text-align: center;
        font-size: 1em;
    }

    /* About section */
    .about-container {
        padding: 50px 25px;
    }

    .graphic-holder {
        width: 100%;
        padding-right: 0px;
        display: flex;
        justify-content: center;
    }

    .about-content {
        flex-shrink: 1;
        width: 100%;
        padding-left: 0px;
        margin-top: 50px;
    }

    .graphic-holder img {
        width: 75%;
        height: 100%;
    }

    .about-text h1 {
        font-size: 3.5rem;
    }

    .about-buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .about-buttons a {
        text-align: center;
    }

    .about-buttons a:last-of-type {
        margin-top: 20px;
    }

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Contact */
    #submit {
        width: 100%;
    }
   
}
